canvas {
	outline: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: -1;
}

h1 {
	margin: auto;
	font-size: 400%;
    padding-top: 30px;
    padding-bottom: 10px;
    /*font-family: 'Antic Slab', serif;*/
    font-family: 'Sorts Mill Goudy', serif;
    text-align: center;
    color: white;
}

#links {
	margin: auto;
	font-size: 200%;
    width: 50%;
    font-family: 'Antic Slab', serif;
    text-align: center;
    text-decoration: none;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}